[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
pandas = "*"
pipelinex = "*"

[dev-packages]
isort = "*"
yamllint = "*"
flake8 = "*"
mypy = "*"
dvc = "*"
black = "==20.8b1"

[requires]
python_version = "3.8"
